# Dependencies
node_modules/

# Environment variables
.env

# Build outputs
dist/
coverage/

# OS / Editor files
.DS_Store
.vscode/
.idea/

# Logs
npm-debug.log
yarn-error.log
*.log

# TypeScript
*.tsbuildinfo

# 🔐 Firebase / Service Account 
serviceAccountKey.json
*.key.json
